
body {

    color: #602401;

}


.ui-slider-horizontal .ui-state-default {
background: transparent url(../images/yellowArrow-01.svg) no-repeat scroll 50% 50%;
}

#content {
 top: 0px;

    
}

#settingSelector {
width: 90%;

padding: 5%;
padding-top: 1%;
padding-left: 5%;
float: right;
height: 50%;
left: 0px;
position: absolute;
margin-top: -40px;
margin-bottom: 120px;
}

#settingSelector::-webkit-scrollbar {

    width: 10px;

    /* for vertical scrollbars */

    height: 10px;

    /* for horizontal scrollbars */

    margin: 0px;

    padding: 0px;

    border: 0px;

}

#settingSelector::-webkit-scrollbar-track {

    background: #81659A;

}

#settingSelector::-webkit-scrollbar-thumb {

    background: #c46e48;

}

.setter {

    width: 45%;

    float: left;

    padding: 2.5%;

}

.options {

    width: 80%;

    margin-left: 10%;

}

.options div {

    -webkit-transition: all .2s;

    transition: all .2s;

}

.distance {

    -webkit-transition: all .2s;

    transition: all .2s!important;

}

.third {

    width: 33%;

    float: left;

    margin-bottom: 2px;

    font-size: 150%;

    text-align: left;

}

.middleOption {

    text-align: center;

}

.lastOption {

    text-align: right;

}

h3 {

    margin-bottom: 20px;

    width: 100%;

    float: left;

    margin-top: 50px;

    padding-left: 6.5%;

    font-weight: 200;

}

h2 {

    margin-bottom: 5px;

    text-align: left;

}

h4 {

    font-family: comfortaa;

    font-weight: 200;

    font-size: 110%;

    text-align: right;

    margin-right: 10%;

    padding-top: 10px;

}

.ui-slider {
width: 80%;
margin-left: 10%;
margin-top: 15px;
float: left;
background: #5e3a3f!important;
border: 0px;
height: 25px!important;
margin-bottom: 5px;
overflow: hidden;
}
.ui-widget-header {

    background: #e78f08;

}

.ui-slider-handle {
 -ms-touch-action: none;
touch-action: none;   
}

.next {

    max-width: 30%;

    padding: 2.5%;

    float: left;

    margin-top: 8%;

    margin-bottom: 45px;

    text-align: left;

    font-family: "comfortaa";

    font-size: 110%;

    margin-left: 7%;

    border: 0px;
    
}


textarea:focus {
 outline: none;   
}

.next:hover {

    -webkit-box-shadow: 0px 0px 5px black;

    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);

    box-shadow: 2px 2px 5px black;

    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);

    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);

    cursor: pointer;

}

#welcome {
width: 90%;
height: 250px;
position: relative;
padding: 5%;
padding-left: 7%;
    background-color: rgba(50,50,50,.09);
}

#welcomeImg {
position: absolute;
height: 50%;
right: 70%;
}


#profileChange {
position: absolute;
bottom: 23%;
right: 67%;
width: 25%;
font-family: comfortaa;
font-size: 66%;
text-align: center;
text-decoration: underline;
}

#profileChange:hover {

    cursor: pointer;

}

.twoThirds {

    width: 55%;

    float: left;

    height: 100%;

    padding-left: 5%;

}

form {

    width: 100%;

    height: 150px;

    margin-left: 2%;

}

#signUpForm input{
    display: none;
}

.bio {

    border: 0px;

    width: 100%;

    height: 80%;

    margin-top: 2%;

    padding: 3%;

    color: white;

    font-size: 103%;

}

.twoThirds h2 {

    margin-top: 2.5%;

}


@media (max-width: 1024px) {
#settingSelector {
width: 90%;
z-index: 1500;
padding: 5%;
padding-top: 1%;
float: right;
left: 0px;
margin-bottom: 120px;
position: relative;
margin-top: 0px;
}
}




@media (max-width: 800px) {
    #content {
     overflow-y: visible;
        min-height: 1100px;
    }
    
#welcome {
width: 90%;
height: 250px;
position: relative;
margin-left: 0;
padding: 5%;
} 
  #welcome div {
   width: 100%;
      padding: 0%;
  }
    
    .twoThirds {
     width: 80%;   
    }
    
    h2 {
     text-align: center;   
    }
    
    form {
       width: 100%;
height: 150px;
margin-left: 0%;
      margin-top: 35px;  
    }
    
    #settingSelector {
        margin: 0px;
margin-left: 0px;
padding: 5%;
width: 90%;
    }
    
    h3 {
        margin-left: 0px;
padding: 0px;
margin: 0px;
margin-bottom: 40px;
    }
    
    .setter {
        width: 100%;
float: left;
padding: 0px;
        
    }
    
    
    .next {
     max-width: 70%;   
    }
    
}